body {
    background-color: whitesmoke;
}

#wrapper {
    align-items:center;
    width:650px;
    margin:auto;
    padding:auto;
    color:#00704A;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	align-items:center;
    margin:auto;
    padding:auto;
}

#process {
	text-align:center;
}

h1,h2,h3,h5 {
	text-align:center;
	text-decoration:bold;
	color:purple;
}

a {
	align-items:center;
	text-align:center;
	text-decoration:none;
	color:coral;
}